<a href="https://colab.research.google.com/github/maskot1977/tmd2023py/blob/main/notebooks/hoshu_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# プログラム入門の補習 第３回（その１）

小寺正明　東京医科歯科大学 統合教育機構 客員准教授, （株）Preferred Networks 研究員

# タイムスケジュール

- 18時～19時30分 実習タイム（実習タイム中も随時質問OKです）
- 19時40分～ 質問タイム

# 実施日程・講師

- 6/10（第２回の内容）, 6/17（第３・４回の内容） - 長谷武志 先生
- 6/24（第５・６回の内容）, 7/1（第７・８回の内容） - 小寺
- 7/8（第９・１０回の内容）, 7/15（総合演習） - 石田智 先生

# 本日の内容

- 下川先生のプログラミング入門の第５・６回の資料から抜粋し一部改変して作成しております。


### 組み込み関数の利用

In [ ]:
abs(-30) # 絶対値

In [ ]:
x = abs(-30)

In [ ]:
x

In [ ]:
print(abs(-30))

In [ ]:
max(2, 5, 3) # 最大値

In [ ]:
max([2, 5, 3])

In [ ]:
round(3.126) # 引数の整数への四捨五入

In [ ]:
divmod(11, 3) # 引数1 / 引数2 の商と剰余

In [ ]:
len([1, 2, 3, 4]) # 引数の要素数

In [ ]:
len("abd")

In [ ]:
sorted([3, 5, 1]) # 要素を昇順に並び替える

In [ ]:
sorted([3, 5, 1], reverse=True)

In [ ]:
sum([3, 5]) # 要素の総和を返す

# 演習

- 組み込み関数を利用して、初項2, 公差3 の等差数列 {$a_n$} について、$a_n$ &le; 100 となる項の値を求め、変数xに代入せよ

In [ ]:
x = []
for a in range(2, 100, 3):
    x.append(a)

In [ ]:
x

In [ ]:
x = [a for a in range(2, 100, 3)]

In [ ]:
x

- $a_n$ &le; 100 を満たすnの最大値を求めよ

In [ ]:
n = 0
for a in range(2, 100, 3):
    n += 1

n_max = n

In [ ]:
n_max

In [ ]:
for n, a in enumerate(range(2, 100, 3)):
    print(n, a)

In [ ]:
n_max = n + 1

In [ ]:
n_max

In [ ]:
max([n + 1 for (n, a) in enumerate(range(2, 100, 3))])

- $a_n$ &le; 100 を満たす全ての項の和を求めよ

In [ ]:
sum([a for a in range(2, 100, 3)])

## その他の組み込み関数

In [ ]:
a = 1
b = a

In [ ]:
print(id(a))
print(id(b))

In [ ]:
a is b

In [ ]:
a = 2

In [ ]:
print(id(a))
print(id(b))

In [ ]:
a is b

In [ ]:
input("君の名は。")

In [ ]:
int(3.52)

In [ ]:
int("3")

In [ ]:
type(int("3"))

In [ ]:
X = []
for x in [-1, 2, -3, -4]:
    X.append(abs(x))

In [ ]:
X

In [ ]:
X = [abs(x) for x in [-1, 2, -3, -4]]

In [ ]:
X

In [ ]:
X = list(map(abs, [-1, 2, -3, -4]))

In [ ]:
X

In [ ]:
X = []
for x in [[1, 2], [3, 4], [5, 6]]:
    X.append(sum(x))

In [ ]:
X

In [ ]:
X = [sum(x) for x in [[1, 2], [3, 4], [5, 6]]]

In [ ]:
X

In [ ]:
X = list(map(sum, [[1, 2], [3, 4], [5, 6]]))

In [ ]:
X

# 演習

- 「input」を用いて相手の名前（ローマ字入力）を尋ね、得られた名前を変数xに格納するコードを書け。また実際に、自分の名前を変数xに格納せよ。

In [ ]:
x = input("What's your name? ")

In [ ]:
x

- xに含まれる文字数をカウントせよ

In [ ]:
len(x)

- xに含まれる文字のうち、アルファベット順で最初の文字と最後の文字を調べよ

In [ ]:
min(x)

In [ ]:
max(x)

- x に含まれている文字を昇順に並び替えよ

In [ ]:
sorted(x)

# 関数の定義

In [ ]:
def f(a, b):
    return a + b

In [ ]:
f(2, 3)

In [ ]:
f(-1, 1)

In [ ]:
f(a = 2, b = 3)

In [ ]:
def g(a, b=10):
    return a * b

In [ ]:
g(2, 3)

In [ ]:
g(-1)

# 演習

- 関数 $h(a, b, c)$ として、与えられた３辺の長さから三角形の面積を求める公式（ヘロンの公式）を定義せよ。定義した関数を用いて、３辺の長さが 3, 4, 5 である三角形の面積を求めよ。

参考：ヘロンの公式

$$S=\sqrt{t(t-a)(t-b)(t-c)}$$

$$t = \frac{a + b + c}{2}$$

In [ ]:
def heron(a, b, c):
    t = (a + b + c) / 2
    s2 = t * (t - a) * (t - b) * (t - c)
    return s2 ** 0.5

In [ ]:
heron(3, 4, 5)

In [ ]:
data = [[3, 4, 5], [4, 4, 4], [3, 3, 6], [2, 5, 5]]

In [ ]:
Y = []
for x in data:
    Y.append(heron(x[0], x[1], x[2]))

Y

In [ ]:
Y = []
for x1, x2, x3 in data:
    Y.append(heron(x1, x2, x3))

Y

In [ ]:
Y = [heron(x[0], x[1], x[2]) for x in data]
Y

In [ ]:
Y = [heron(x1, x2, x3) for x1, x2, x3 in data]
Y

In [ ]:
Y = list(map(heron, data))
Y

In [ ]:
def heron2(x):
    t = sum(x) / 2
    s2 = t * (t - x[0]) * (t - x[1]) * (t - x[2])
    return s2 ** 0.5

In [ ]:
Y = []
for x in data:
    Y.append(heron2(x))

Y

In [ ]:
Y = [heron2(x) for x in data]
Y

In [ ]:
Y = list(map(heron2, data))
Y

# ローカル変数

In [ ]:
t

In [ ]:
s2

# 無名関数

In [ ]:
def f(a, b, c):
    return a**2 + b**2 + c**2

In [ ]:
f(2, 3, 1)

In [ ]:
f = lambda a, b, c: a**2 + b**2 + c**2

In [ ]:
f(2, 3, 1)

In [ ]:
(lambda a, b, c: a**2 + b**2 + c**2)(2, 3, 1)

In [ ]:
def g(x):
    return x[0]**2 + x[1]**2 + x[2]**2

In [ ]:
g([2, 3, 1])

In [ ]:
g = lambda x: x[0]**2 + x[1]**2 + x[2]**2

In [ ]:
g([2, 3, 1])

In [ ]:
(lambda x: x[0]**2 + x[1]**2 + x[2]**2)([2, 3, 1])

In [ ]:
Y = []
for a, b, c in data:
    Y.append(f(a, b, c))

Y

In [ ]:
Y = []
for a, b, c in data:
    Y.append(g(a, b, c))

Y

In [ ]:
Y = []
for x in data:
    Y.append(g(x))

Y

In [ ]:
Y = [f(a, b, c) for a, b, c in data]
Y

In [ ]:
Y = [g(x) for x in data]
Y

In [ ]:
Y = list(map(g, data))
Y

In [ ]:
Y = list(map(lambda x: x[0]**2 + x[1]**2 + x[2]**2, data))
Y

# 演習

- 無名関数と関数 map を利用して、リスト [1, 3, 5, 7, 9] の各要素を３乗することで得られるリストを求めよ。

In [ ]:
list(map(lambda x: x**3, [1, 3, 5, 7, 9]))

- 無名関数と関数 map を利用して、

$$(x, y) = (\frac{\pi}{2}, \pi), (\pi, \frac{3}{2}\pi), (\frac{3}{2}\pi, 0)$$

について $sin x + cos y$ を計算することで得られるリストを求めよ。

In [ ]:
import math

data = [[math.pi, math.pi], [math.pi, 3/2*math.pi], [3/2*math.pi, 0]]

In [ ]:
list(map(lambda x: math.sin(x[0]) + math.cos(x[1]), data))

# 別ファイルに保存した関数の利用

In [ ]:
!wget https://raw.githubusercontent.com/maskot1977/tmd2023py/main/util/ex_A_1_4.py

In [ ]:
import ex_A_1_4 as example

In [ ]:
example.qeq(1, 5, 6)

# 演習

- ファイル ex_A_1_4 を利用し、 $y = 2 x^2 - x - 6$ に対する解を求めよ。

In [ ]:
example.qeq(2, -1, -6)

- ファイル ex_A_1_4 を利用し、 $y = 2 x^2 + x + 3$ に対する解の出力を確認せよ。

In [ ]:
example.qeq(2, 1, 3)

- ファイル ex_A_1_4 を修正し、 $y = 2 x^2 + x + 3$ に対する解を求めよ。

In [ ]:
!wget https://raw.githubusercontent.com/maskot1977/tmd2023py/main/util/ex_A_1_4b.py

In [ ]:
import ex_A_1_4b as example

In [ ]:
example.qeq(2, 1, 3)